@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* Add application styles & imports to this file! */
$cyan:    #00C6D7;
$blue:    #006a96;
$navy:    #00465F;
$orange:  #FC8900;
$yellow:  #FFCD00;

body {
    padding: 1rem;
}

th {
	cursor: pointer;
}

th:hover {
	background-color: rgba(0,0,0,0.075);
}

th[sortable]::after {
	// font-family: FontAwesome;
	// content: '\f0dc';
	color:#006a96;
	float: right;
	margin-left: .8em;
}

th[sortable].asc::after {
	// font-family: FontAwesome;
	// content: '\f0de';
	color:#006a96;
	float: right;
	margin-left: .8em;
}

th[sortable].desc::after {
	// font-family: FontAwesome;
	// content: '\f0dd';
	color:#006a96;
	float: right;
	margin-left: .8em;
}

.table th {
	color:#777;
	text-transform: uppercase;
	font-size: .85rem;
	font-weight: 700;
}

.cdk-drag-preview {
  padding-top: 6px;
  text-transform: uppercase;
  text-align: center;
  font-size: .85rem;
  opacity: .5;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 1;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

th:last-child {
  border: none;
}

.clickup.cdk-drop-list-dragging th:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-placeholder {
  background: #777;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}