/* Add application styles & imports to this file! */
$cyan:    #00C6D7;
$blue:    #006a96;
$navy:    #00465F;
$orange:  #FC8900;
$yellow:  #FFCD00;

body {
    padding: 1rem;
}

th {
	cursor: pointer;
}

th:hover {
	background-color: rgba(0,0,0,0.075);
}

th[sortable]::after {
	// font-family: FontAwesome;
	// content: '\f0dc';
	color:#006a96;
	float: right;
	margin-left: .8em;
}

th[sortable].asc::after {
	// font-family: FontAwesome;
	// content: '\f0de';
	color:#006a96;
	float: right;
	margin-left: .8em;
}

th[sortable].desc::after {
	// font-family: FontAwesome;
	// content: '\f0dd';
	color:#006a96;
	float: right;
	margin-left: .8em;
}

.table th {
	color:#777;
	text-transform: uppercase;
	font-size: .85rem;
	font-weight: 700;
}